.search-result-container {
  width: 100%;
}

.search-results-header {
  display: flex;
  text-align: right;
  justify-content: space-between;
  background-color: #00838f;
  min-height: 50px;
  font-weight: bold;
  font-size: 22px;
  padding-left: 10px;
  align-items: center;
}

.header-button {
  margin-right: 1rem;
}

.search-results-header h1 {
  color: #fff;
  font-size: 2.4rem;
}

.search-results-summary {
  margin: 1rem;
  font-size: 2.0rem;
}

.search-results-display {
  display: flex;
  margin: 1rem 1rem 5rem 1rem;
}

.onward-search-results-display, .return-search-results-display {
  width: 100%;
}

.onward-search-results-display > div > h2, .return-search-results-display > div > h2 {
  font-weight: bold;
  font-size: 2rem;
}

.flight-heading {
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #00838f;
  margin-right: 1.5rem;
  font-size: 2.0rem;
}

.flight-selected-summary {
  position: absolute; 
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background: #00838f;
  width: 100%;
}

.flight-selected-summary h1 {
  color: #fff;
  margin: 1rem;
  font-weight: bold;
}

.flight-cost {
  width: 80%;
}

.flight-book {
  width: 20%;
  text-align: right;
}

.trip-itenerary {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.flight-cost h1 {
  font-size: 1.6rem;
  color: #fff;
}

@media ( min-width: 960px ) {

}

@media ( min-width: 760px ) and ( max-width: 959px ) {
  .flight-cost h1 {
      font-size: 1.4rem;
   }

   .trip-itenerary {
      font-size: 1.4rem;
    }

    .search-results-summary {
      font-size: 1.8rem;
    }

    .onward-search-results-display > div > h2, .return-search-results-display > div > h2 {
      font-size: 1.8rem;
    }

    .search-results-header h1 {
      font-size: 2.2rem;
    }
}

@media ( min-width: 480px ) and ( max-width: 759px ) {
  .flight-cost h1 {
      font-size: 1.2rem;
   }

   .trip-itenerary {
      font-size: 1.2rem;
    }

    .search-results-summary {
      font-size: 1.6rem;
    }

    .onward-search-results-display > div > h2, .return-search-results-display > div > h2 {
      font-size: 1.6rem;
    }

    .search-results-header h1 {
      font-size: 2.0rem;
    }
}

@media ( max-width: 479px ) {
  .flight-cost h1 {
      font-size: 1.2rem;
   }

   .trip-itenerary {
      font-size: 1.2rem;
    }

    .search-results-summary {
      font-size: 1.6rem;
    }

    .onward-search-results-display > div > h2, .return-search-results-display > div > h2 {
      font-size: 1.6rem;
    }

    .search-results-header h1 {
      font-size: 2.0rem;
    }
}