<div class="cd-tabs js-cd-tabs">
  <nav>
    <ul class="cd-tabs__navigation js-cd-navigation">
      <li (click)="searchMode('oneWay')"><a data-content="oneWay" [ngClass]="{'cd-selected': !!isOneWaySearch}">One way</a></li>
      <li (click)="searchMode('roundTrip')"><a data-content="roundTrip" [ngClass]="{'cd-selected': !isOneWaySearch}">Round trip</a></li>
    </ul>
  </nav>

  <form [formGroup]="searchFlight">
    <ul class="cd-tabs__content js-cd-content">
      <li class="cd-selected">
        <div class="input">
          <div class="label">
            <label>From</label>
          </div>
          <div class="value">
          
          <div class="smart-search-input">
            <input id="from-city-input" formControlName="departureCity" type="text" placeholder="From" class="input-field" (focus)="isDepartureCityFocused = true;isSelectingFromCity = true;" (blur)="isDepartureCityFocused = false;" (keyup)="searchCity($event, 'from')"/>
          <div class="city-options" *ngIf="searchFlight.controls['departureCity'].value.trim() !== '' && fromCityAirportsSearchList.length > 0 && isSelectingFromCity">
            <div class="option" *ngFor="let airport of fromCityAirportsSearchList; trackBy: trackByAirportCode" (click)="setAirport(airport, 'departure')">
              <div class="airport-details">
                <div class="airport-name">{{airport.airportName}}</div>
                <div class="airport-city">{{airport.cityName}}</div>
              </div>
              <div class="airport-code">{{airport.airportCode}}</div>
            </div>
          </div>
          <inline-error *ngIf="isDepartureCityFocused && searchFlight.controls['departureCity'].hasError('pattern')" 
                          [errorMessage]="config.invalidCharactersError"></inline-error>
            <inline-error *ngIf="!isDepartureCityFocused && searchFlight.controls['departureCity'].touched && searchFlight.controls['departureCity'].hasError('required')" 
                          [errorMessage]="config.departureRequiredError"></inline-error>
            <inline-error *ngIf="!isDepartureCityFocused && searchFlight.controls['departureCity'].hasError('minlength')"
                          [errorMessage]="config.departureCityMinLengthError" 
                          [substituteMessage]="config.departureCityMinLength"></inline-error>
            <inline-error *ngIf="isDepartureCityFocused && searchFlight.controls['departureCity'].hasError('maxlength')"
                          [errorMessage]="config.departureCityMaxLengthError" 
                          [substituteMessage]="config.departureCityMaxLength"></inline-error>
          </div>
        </div>
      </div>

        <div class="input">
          <div class="label">
            <label>To</label>
          </div>
          <div class="value">
            <div class="smart-search-input">
              <input id="to-city-input" formControlName="arrivalCity" type="text" placeholder="To" class="input-field" (focus)="isArrivalCityFocused = true;isSelectingToCity = true;" (blur)="isArrivalCityFocused = false;" (keyup)="searchCity($event, 'to')"/>
          <div class="city-options" *ngIf="searchFlight.controls['arrivalCity'].value.trim() !== '' && toCityAirportsSearchList.length > 0 && isSelectingToCity">
            <div class="option" *ngFor="let airport of toCityAirportsSearchList; trackBy: trackByAirportCode" (click)="setAirport(airport, 'arrival')">
              <div class="airport-details">
                <div class="airport-name">{{airport.airportName}}</div>
                <div class="airport-city">{{airport.cityName}}</div>
              </div>
              <div class="airport-code">{{airport.airportCode}}</div>
            </div>
          </div>
            </div>
            <inline-error *ngIf="isArrivalCityFocused && searchFlight.controls['arrivalCity'].hasError('pattern')" 
                          [errorMessage]="config.invalidCharactersError"></inline-error>
            <inline-error *ngIf="!isArrivalCityFocused && searchFlight.controls['arrivalCity'].touched && searchFlight.controls['arrivalCity'].hasError('required')" 
                          [errorMessage]="config.arrivalRequiredError"></inline-error>
            <inline-error *ngIf="!isArrivalCityFocused && searchFlight.controls['arrivalCity'].hasError('minlength')"
                          [errorMessage]="config.arrivalCityMinLengthError" 
                          [substituteMessage]="config.arrivalCityMinLength"></inline-error>
            <inline-error *ngIf="isArrivalCityFocused && searchFlight.controls['arrivalCity'].hasError('maxlength')"
                          [errorMessage]="config.arrivalCityMaxLengthError" 
                          [substituteMessage]="config.arrivalCityMaxLength"></inline-error>
          </div>
        </div>

        <div class="input">
          <div class="label">
            <label>Departure date</label>
          </div>
          <div class="value">
            <input id="onward-journey-date" formControlName="departureDate" type="date" placeholder="Onward" class="input-field input-field-date" (focus)="setDepartureDateFlags()" (blur)="checkIfDateIsPresentDate('departure');checkIfDateIsValid('departure');checkIfReturnDateBeforeDepartureDate();isDepartureDateFocused = false"/>
            <inline-error *ngIf="!isDepartureDateFocused && searchFlight.controls['departureDate'].touched && searchFlight.controls['departureDate'].hasError('required')" 
                          [errorMessage]="config.departureDateRequiredError"></inline-error>

            <inline-error *ngIf="!isDepartureDateFocused && searchFlight.controls['departureDate'].touched && isDepartureDateValid && !isDepartureDateInPresent" 
                          [errorMessage]="config.departureDateInPastError"></inline-error>

            <inline-error *ngIf="!isDepartureDateFocused && searchFlight.controls['departureDate'].touched && !isDepartureDateValid" 
                          [errorMessage]="config.departureDatePatternError" 
                          [substituteMessage]="config.dateFormat"></inline-error>
          </div>
        </div>

        <div class="input" *ngIf="!isOneWaySearch">
          <div class="label">
            <label>Return date</label>
          </div>
          <div class="value">
            <input id="return-journey-date" formControlName="returnDate" type="date" placeholder="Return" class="input-field input-field-date" (focus)="setReturnDateFlags();" (blur)="checkIfDateIsPresentDate('arrival');checkIfDateIsValid('arrival');checkIfReturnDateBeforeDepartureDate();isArrivalDateFocused = false"/>
            <inline-error *ngIf="!isArrivalDateFocused && searchFlight.controls['returnDate'].touched && searchFlight.controls['returnDate'].hasError('required')" 
                          [errorMessage]="config.returnDateRequiredError"></inline-error>

            <inline-error *ngIf="!isArrivalDateFocused && searchFlight.controls['returnDate'].touched && isReturnDateValid && !isReturnDateInPresent" 
                          [errorMessage]="config.returnDateInPastError"></inline-error>

            <inline-error *ngIf="!isArrivalDateFocused && searchFlight.controls['returnDate'].touched && !isReturnDateValid" 
                          [errorMessage]="config.returnDatePatternError" 
                          [substituteMessage]="config.dateFormat"></inline-error>

            <inline-error *ngIf="isDepartureDateValid && isReturnDateValid && isReturnDateBeforeDepartureDate" 
                          [errorMessage]="config.returnDateBeforeThanDepartureDateError"></inline-error>
          </div>
        </div>

        <div class="input">
          <div class="label">
            <label>Passengers</label>
          </div>
          <div class="value">
            <input formControlName="numberOfPassengers" type="number" name="number-of-passengers" class="input-field input-field-passengers" min="1" max="5" value="1" (focus)="isNumberOfPassengersFocused = true;" (blur)="isNumberOfPassengersFocused = false;">
            <inline-error *ngIf="!isNumberOfPassengersFocused && searchFlight.controls['numberOfPassengers'].touched && searchFlight.controls['numberOfPassengers'].hasError('required')" [errorMessage]="config.numberOfPassengersRequiredError"></inline-error>
            <inline-error *ngIf="!isNumberOfPassengersFocused && searchFlight.controls['numberOfPassengers'].touched && searchFlight.controls['numberOfPassengers'].value > 5" [errorMessage]="config.numberOfPassengersGreaterThanFiveError"></inline-error>
            <inline-error *ngIf="!isNumberOfPassengersFocused && searchFlight.controls['numberOfPassengers'].touched && searchFlight.controls['numberOfPassengers'].value < 1" [errorMessage]="config.numberOfPassengersMinimumError"></inline-error>
          </div>
        </div>

        <div class="input">
          <div class="label">
            <label>Class</label>
          </div>
          <div class="value">
            <input type="radio" formControlName="travelClass" name="travelClass" value="economy" checked>Economy
            <input type="radio" formControlName="travelClass" name="travelClass" value="business">Business
          </div>
        </div>

        <div class="input">
          <button [disabled]="!searchFlight.valid" class="button-primary" (click)="searchFlights()">Search Flights</button>
        </div>
        <!--<p>One Way form <fa-icon [icon]="faUtensils"></fa-icon></p>-->
      </li>
    </ul>
  </form>
</div>
