*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
  font-family: inherit;
  font-size: 1.6rem;
}

nav a {
  background-color: #00838F;
  color: white;
  padding: 8px 16px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 2rem auto;
  background: #fff;
}

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.cd-tabs__navigation {
  width: 360px;
}

.cd-tabs__navigation:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tabs__navigation li {
  float: left;
}

.cd-tabs__navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  padding-top: 35px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cd-tabs__navigation a:hover {
  color: #fff;
  background-color: #016d77;
  cursor: pointer;
}

.cd-tabs__navigation a.cd-selected {
  background: #ff0000;
  color: #fff;
  -webkit-box-shadow: inset 0 2px 0 #f05451;
  box-shadow: inset 0 2px 0 #f05451;
  cursor: default;
}

.cd-tabs__content {
  background: #ffffff;
}

.cd-tabs__content li {
  display: none;
  padding: 1.4em;
}

.cd-tabs__content li.cd-selected {
  display: block;
}

.cd-tabs__content li p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}

.search-suggestions {
  display: block;
}

div.input {
  width: 100%;
  padding: 5px 0;
}

div.input .label {
  width: 30%;
  display: inline-flex;
  vertical-align: top;
}

div.input .label label {
  font-size: 1.6rem;
}

div.input .value {
  width: 70%;
  display: inline-block;
  font-size: 1.6rem;
}

div.input .value .input-field {
  width: 100%;
  font-size: 1.6rem;
}

div.input .value .input-field-passengers {
  max-width: 50px;
}

div.input .value .input-field-date {
  max-width: 225px;
}

.smart-search-input {
  width: 60%;
  position: relative;
}

.city-options {
  position: absolute;
  width: 100%;
  height: 209px;
  background: #fff;
  border: 1px solid #777575;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  z-index: 1;
}

.city-options-no-result {
  position: absolute;
  width: 100%;
  max-height: 209px;
  background: #fff;
  border: 1px solid #777575;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
}

.option {
  display: flex;
  min-height: 35px;
  padding: 5px;
  color: #777575;
  border-bottom: 1px solid #777575;
}

.option:hover {
  background: #00838F;
  cursor: pointer;
  color: #fff;
}

.option:active {
  background: #00838F;
  cursor: pointer;
}

.option .airport-details {
  display: inline-block;
  width: 80%;
}

.option .airport-code {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.option .airport-details .airport-city {
  margin-top: 5px;
}

.option .airport-details .airport-name {
  font-size: 20px;
  font-weight: 500;
}

.btn-group button {
  background-color: #00838F; 
  border: 1px solid #00838F; 
  color: white; 
  padding: 0.2rem 2rem; 
  cursor: pointer; 
  float: left;
  margin: 1rem 0 0 0; 
}

.cd-btn-selected {
  background-color: #ff0000 !important; 
  border: 1px solid #ff0000 !important; 
  cursor: not-allowed; 
}

.btn-group button.one-way {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 1rem; 
}

.btn-group button.round-trip {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group button:hover {
  background-color: #00666f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media ( min-width: 960px ) {
  .btn-group {
    display: none;
  }

  .travel-class-radio {
    display: block; 
  }

  .travel-class-switch {
    display: none !important; 
  }

  .travel-class-label {
    display: block;
  }

  .travel-class-selection {
    display: none;
  }

  .button-primary-small {
    display: none;
  }

  .city-options {
    width: 110%;
    border-top: 1px solid #777575;
  }

  .cd-tabs nav {
    position: relative;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .cd-tabs__navigation {
    /* tabbed navigation on top on big devices */
    width: auto;
    background-color: #fff;
  }

  .cd-tabs__navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    padding: 0 2.8em 0 2.8rem;
  }

  .cd-tabs__navigation a.cd-selected {
    border-top: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
  }

  .cd-tabs__navigation a::before {
    top: 50%;
    margin-top: -8px;
    margin-left: 0;
    left: 40px;
  }

  .cd-tabs__content {
    min-height: 0;
  }
  .cd-tabs__content li {
    padding: 30px;
  }
  .cd-tabs__content li p {
    font-size: 1.6rem;
  }

  .cd-selected {
    border: 2px solid red;
    border-radius: 5px;
    border-top-left-radius: 0;
  }
}

@media ( min-width: 760px ) and ( max-width: 959px ) {
  .city-options {
    width: 160%;
    border: 1px solid #777575;
  }

  div.input .label label {
    font-size: 1.2rem;
  }

  div.input .value .input-field {
    font-size: 1.4rem;
  }

  .cd-tabs__navigation a {
    font-size: 1.4rem;
  }

  .flight-cost h1 {
    font-size: 1.4rem;
  }

  div.input .value {
    font-size: 1.4rem;
  }

  .button-primary {
    display: none;
  }

  .button-primary-small {
    display: inline-block;
    font-size: 2.0rem;
    margin-top: 6px;
  }

  .cd-tabs {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: fit-content;
  }

  .cd-tabs nav {
    display: none;
  }

  .cd-tabs__content li {
    padding: 0;
  }

  div.input {
    display: inline-block;
    width: 15%;
    padding: 5px 0;
    vertical-align: top;
    margin-right: 2rem;
  }

  div.input .label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  div.input .value {
    display: block;
    width: 100%;
  }

  .smart-search-input {
    width: 90%;
  }

  div.input .value .input-field[type="date"] {
    width: 75%;
  }

  .cd-tabs__content li.cd-selected {
    padding: 1rem;
    border: none;
    border-radius: 0;
  }

  .trip-type-btn {
    width: auto;
    min-width: 10.5rem;
  }

  .travel-class-radio {
    display: none !important; 
  }

  .travel-class-switch {
    display: block !important; 
  }

  .travel-class-label {
    display: none;
  }

  .travel-class-selection {
    display: block;
  }

  div.input.passenger-count {
    width: 8%;
  }

  div.input.passenger-travel-class {
    width: 8%;
    position: relative;
    top: 0;
    left: 8px;
  }

  div.input.search-input {
    width: auto;
    float: right;
  }
}

@media ( min-width: 480px ) and ( max-width: 759px ) {
  div.input .label {
    padding-bottom: 5px;
  }

  div.input .label label {
    font-size: 1.2rem;
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  div.input .value .input-field {
    font-size: 1.2rem;
  }

  .cd-tabs__navigation a {
    font-size: 1.2rem;
  }

  .flight-cost h1 {
    font-size: 1.2rem;
  }

  div.input .value {
    font-size: 1.2rem;
  }

  .button-primary {
    display: none;
  }

  div.input .label, div.input .value {
    width: 100%;
    display: block;
  }

  div.input .value .input-field {
    width: 100%;
  }

  .cd-tabs {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: fit-content;
  }

  .cd-tabs nav {
    display: none;
  }

  .cd-tabs__content li {
    padding: 0;
  }

  .cd-tabs__content li.cd-selected {
    padding: 1rem;
    border: none;
    border-radius: 0;
  }

  div.input {
    display: inline-block;
    width: 15%;
    padding: 5px 0;
    vertical-align: top;
    margin-right: 1.5rem;
  }

  div.input .label {
    display: block;
    width: 100%;
  }

  div.input .value {
    display: block;
    width: 100%;
  }

  .smart-search-input {
    width: 90%;
  }

  div.input .value .input-field[type="date"] {
    width: 75%;
  }

  .trip-type-btn {
    width: auto;
    min-width: 10.5rem;
  }

  .travel-class-radio {
    display: none !important;
  }

  .travel-class-switch {
    display: block !important;
  }

  .travel-class-label {
    display: none;
  }

  .travel-class-selection {
    display: block;
  }

  div.input.passenger-count {
    width: 8%;
  }

  div.input.passenger-travel-class {
    width: 8%;
  }

  .city-options {
    width: 160%;
    border: 1px solid #777575;
  }

  div.input.passenger-travel-class {
    width: 8%;
    position: relative;
    top: 0;
    left: 8px;
  }

  div.input.search-input {
    width: auto;
    float: right;
  }

  .button-primary-small {
    display: inline-block;
    font-size: 2.0rem;
    margin-top: 6px;
  }
}

@media ( max-width: 479px ) {
  div.input .label label {
    font-size: 1.2rem;
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  div.input .value .input-field {
    font-size: 1.2rem;
  }
  
  .cd-tabs__navigation a {
    font-size: 1.2rem;
  }

  .flight-cost h1 {
    font-size: 1.2rem;
  }

  div.input .value {
    font-size: 1.2rem;
  }

  .button-primary {
    display: block;
    width: 100%;
    font-size: 1.2rem;
  }

  .button-primary-small {
    display: none;
  }

  div.input .label, div.input .value {
    width: 100%;
    display: block;
  }

  div.input .value .input-field {
    width: 100%;
  }

  .cd-tabs {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: auto;
  }

  .cd-tabs nav {
    display: none;
  }

  .cd-tabs__content li {
    padding: 0;
  }

  .cd-tabs__content {
    height: 250px;
  }

  div.input {
    display: inline-block;
    width: 47%;
    padding: 5px 0;
    vertical-align: top;
    margin-right: 0.5rem;
  }

  div.input .label {
    display: block;
    width: 100%;
  }

  div.input .value {
    display: block;
    width: 100%;
  }

  .smart-search-input {
    width: 90%;
  }

  div.input .value .input-field[type="date"] {
    width: 90%;
  }

  .trip-type-btn {
    width: auto;
    min-width: 10.5rem;
  }

  .travel-class-radio {
    display: none !important; 
  }

  .travel-class-switch {
    display: block !important; 
  }

  .travel-class-label {
    display: none;
  }

  .travel-class-selection {
    display: block;
  }

  div.input.passenger-count {
    width: 47%;
  }

  .city-options {
    width: 160%;
    border: 1px solid #777575;
  }

  div.input.passenger-travel-class {
    width: 47%;
  }

  div.input.search-input {
    float: right;
    display: block;
    width: 100%;
  }

  .cd-tabs__content li.cd-selected {
    padding: 1rem;
    border: none;
    border-radius: 0;
  }
}