.result-flight {
  width: 95%;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  margin: 15px 0;
}

.result-flight:hover {
  background-color: #00838f;
  color: #fff;
  cursor: pointer;
}

.flight-selector {
  display: flex;
  width: 10%;
  align-items: center;
}

.flight-details {
  width: 90%;
}

.flight-price {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.flight-operator {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.flight-city {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.flight-schedule-departure, .flight-schedule-arrival {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.flight-meal-availability {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.city, .flight-date-time {
  font-weight: bold;
}

@media ( min-width: 960px ) {
  
}

@media ( min-width: 760px ) and ( max-width: 959px ) {
  .flight-price {
    font-size: 2.2rem;
  }

  .flight-operator {
    font-size: 1.4rem;
  }

  .flight-city {
    font-size: 1.4rem;
  }

  .flight-schedule-departure, .flight-schedule-arrival {
    font-size: 1.4rem;
  }

  .flight-meal-availability {
    font-size: 1.4rem;
  }
}

@media ( min-width: 480px ) and ( max-width: 759px ) {
  .flight-price {
    font-size: 2.0rem;
  }

  .flight-operator {
    font-size: 1.2rem;
  }

  .flight-city {
    font-size: 1.2rem;
  }

  .flight-schedule-departure, .flight-schedule-arrival {
    font-size: 1.2rem;
  }

  .flight-meal-availability {
    font-size: 1.2rem;
  }
}

@media ( max-width: 479px ) {
  .flight-price {
    font-size: 2.0rem;
  }

  .flight-operator {
    font-size: 1.2rem;
  }

  .flight-city {
    font-size: 1.2rem;
  }

  .flight-schedule-departure, .flight-schedule-arrival {
    font-size: 1.2rem;
  }

  .flight-meal-availability {
    font-size: 1.2rem;
  }
}